<!--Lists#show-->

<p id="notice"><%= flash[:notice] %></p>
<p><strong>Title: </strong><%= @lists.title %></p>
<p><strong>Body: </strong><%= @lists.body %></p>

<%= link_to"Edit", "/books/#{@lists.id}/edit" %> | <%= link_to"Back", "/books" %>
